.block{
    font-family: "open sans", "arial", sans-serif;
    line-height: 30px;
    text-decoration: line-through;
    font-size: 20px;
}
.block1{
    font-family: "open sans", "arial", sans-serif;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.block2{
    font-family: "open sans", "arial", sans-serif;
    line-height: 30px;
    text-shadow: 1px 2px 1px #a01d95;
    word-spacing: 30px;
    text-decoration: overline wavy;
    font-size: 20px;
}
.block3{
    font-family: "open sans", "arial", sans-serif;
    line-height: 30px;
    text-decoration: underline double;
    letter-spacing: 5px;
    font-size: 20px;
}