.text{
    color: blueviolet;
    max-width: 200px;
}
.menu{
    position: fixed;
    min-width: 50%;
    background-color: black;
    min-height: 100px;
    bottom: 100px;
    right: 50px;
    border-radius: 50px;
}
.button{
    background-color: blueviolet;
    min-height: 100px;
    min-width: 100px;
    border-radius: 100px;
    position: absolute;
    bottom: 50px;
    left: 100px;
}